build/*
build/bin
!build/scripts
node_modules
frontend/dist

__pycache__
venv
typings

temp
python-backend/build
dist
python-backend/wav_files

lua-go-http/lua-go-http

settings.json
debug_project_data_from_go.json
secrets/public_key.pem
*.dmg
